<!-- templates/projects.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">My Projects</h1>
    <div class="row">
        <!-- Project 1 -->
        <div class="col-md-4 mb-4">
            <div class="card project-card">
                <img src="{{ url_for('static', filename='images/kuyab designer.png') }}" class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title">my design</h5>
                    <p class="card-text">here my firts layout for my passion</p>
                </div>
            </div>
        </div>
        <!-- Project 2 -->
        <div class="col-md-4 mb-4">
            <div class="card project-card">
                <img src="{{ url_for('static', filename='images/cook.jpg') }}" class="card-img-top" alt="Project 2">
                <div class="card-body">
                    <h5 class="card-title">my design for fresh orange</h5>
                    <p class="card-text">my own design for fresh orange</p>
                </div>
            </div>
        </div>
        <!-- Project 3 -->
        <div class="col-md-4 mb-4">
            <div class="card project-card">
                <img src="{{ url_for('static', filename='images/game.png') }}" class="card-img-top" alt="Project 3">
                <div class="card-body">
                    <h5 class="card-title">game project</h5>
                    <p class="card-text">here my project game for app.dev subjects</p>
                </div>
            </div>
        </div>
        <!-- Project 4 -->
        <div class="col-md-4 mb-4">
            <div class="card project-card">
                <img src="{{ url_for('static', filename='images/th.jpg') }}" class="card-img-top" alt="Project 4">
                <div class="card-body">
                    <h5 class="card-title">my own layout design</h5>
                    <p class="card-text">here my firts layouts for my clients</p>
                </div>
            </div>
        </div>
        <!-- Project 5 -->
        <div class="col-md-4 mb-4">
            <div class="card project-card">
                <img src="{{ url_for('static', filename='images/Screenshot (18).png') }}" class="card-img-top" alt="Project 5">
                <div class="card-body">
                    <h5 class="card-title">here my application using figma</h5>
                    <p class="card-text">daily clocking </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}